.toolbar {
    height: 70px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.left {
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 14%;
    z-index: 20;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.code img {
    height: 50px;
    width: 50px;
}

 .logoName {
    font-size: 32px;
    font-weight: 600;
}
.headItem {
    padding: 5px 25px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 26px;
}

.headItem:hover {
    background-color: black;
    color: white;
}