.toolbar {
    height: 70px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 5%;
    z-index: 20;
    border: 1px solid red;
    z-index: 200000;
}

.left {
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 17%;
    z-index: 20;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
}

.code img {
    height: 50px;
    width: 50px;
}

 .logoName {
    font-size: 32px;
    font-weight: 500;
}
.headItem {
    padding: 5px 25px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 26px;
    font-weight: 200;
}

.headItem:hover {
    background-color: black;
    color: white;
}