.wrapper{
 display: flex;
 flex-direction: row;   
}
.left {
 display: flex;
 flex: 1;
 flex-direction: column;   
 padding: 60px;
 margin-top: 60px;
 margin-left: 25px;
}
.name, .title{
    font-size: 50px;
    font-weight: 500;
}
.description {
    font-size: 24px;
    font-weight: 400
}
.additional {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.right {
    display: flex;
    flex: 1;
    flex-direction: column;   
    /* border: 1px solid red; */
}
.splash{
position: absolute;
top: 0;
}
.profile {
    position: absolute;
    top:200px;
}