@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  /* font-size: 62.5%; */
  /* overflow: hidden; */
  font-family: 'Montserrat', sans-serif;
}

.icon-with-animation {
  transition: all .2s ease-in-out;
}

.icon-with-animation:hover {
  transform: scale(1.1)
}